---
name: {{AGENT_NAME}}
description: {{AGENT_DESCRIPTION}}
{{#if TOOLS}}tools: [{{TOOLS}}]{{/if}}
{{#if MODEL}}model: {{MODEL}}{{/if}}
---

# {{AGENT_TITLE}}

{{INTRODUCTION}}

## 职责

{{RESPONSIBILITIES}}

## 工作流程

1. {{STEP_1}}
2. {{STEP_2}}
3. {{STEP_3}}

## 输出格式

{{OUTPUT_FORMAT}}

## 示例

### 输入

{{EXAMPLE_INPUT}}

### 输出

{{EXAMPLE_OUTPUT}}
