{
  "name": "{{PLUGIN_NAME}}",
  "version": "1.0.0",
  "description": "{{DESCRIPTION}}",
  "author": {
    "name": "{{AUTHOR_NAME}}"
    {{#if AUTHOR_EMAIL}}, "email": "{{AUTHOR_EMAIL}}"{{/if}}
    {{#if AUTHOR_URL}}, "url": "{{AUTHOR_URL}}"{{/if}}
  },
  {{#if HOMEPAGE}}"homepage": "{{HOMEPAGE}}",{{/if}}
  {{#if REPOSITORY}}"repository": "{{REPOSITORY}}",{{/if}}
  {{#if LICENSE}}"license": "{{LICENSE}}",{{/if}}
  {{#if KEYWORDS}}"keywords": [{{KEYWORDS}}]{{/if}}
}
